body
  height: 100%
  display: flex

//-----------------------------//
//           Header            //
//-----------------------------//


.my_logo
  margin: 0 auto
  text-align: center
@media only screen and (max-width: 600px) 
  .my_logo svg
    width: 43%
    height: 43%

//
//Text
//
.text
  text-align: center
  align-self: center
@media only screen and (max-width: 600px) 
  .text h2
    width: 100%
    margin: 0 auto

.social
  width: 100%
  text-align: center
  margin: 5% auto 0
  display: flex
  justify-content: space-around
@media only screen and (max-width: 600px) 
  .social
    width: 90%
    margin-top: 6%

.social svg
  width: 25px
  height: auto
  
//
//Animation
//
.overlay
    align-self: flex-end
    width: 100%
    height: 50%
    margin: 0 auto
    z-index: -999
    text-align: center
    & img
        width: 100%
        height: 100%
    & svg 
        width: 100%
        height: 100%


//---------------------------------------------------------------------------------------------------------------------------

//-----------------------------//
//           Portfolio         //
//-----------------------------//




//background Text Portfolio
.overlap
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 0 20px;
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  z-index: -999
  &.overlap h3
    color: rgba(50,76,91,0.1)


.position
  display: flex
  flex-direction: column
  align-content: space-between



//Navigation of the projects
.navigation
  position: relative
  width: 100%
  display: flex
  justify-content: center
  & ul 
    width: 60%
    margin: 4% auto
    display: flex
    flex-direction: row
    justify-content: space-around
@media only screen and (max-width: 1000px) 
  .navigation ul
    flex-wrap: wrap
    & li
      margin: 2% 6%
@media only screen and (max-width: 600px) 
  .navigation ul 
    margin-top: 1%
    width: 100%
    flex-wrap: wrap
    justify-content: center
    text-align: center
    margin-right: 12%
    & li
      margin: 6%


//Contain all the projects

#content
  display: flex
  justify-content: center
  align-content: center

//liquid Background
.background
  width: 100%
  height: auto
  display: flex
  justify-content: center
  align-content: center
  position: absolute
  z-index: -999
  & img
    width: 80%
@media only screen and (max-width: 1000px) 
  .background
    display: none

.container
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-content: space-around


      

//
.projects
  width: 40%  
  height: 40%
  margin-bottom: 5em 
@media only screen and (max-width: 1000px) 
  .projects
    width: 80%
    height: auto
@media only screen and (max-width: 600px) 
  .projects
    width: 100%
    height: auto

.project
  display: flex
  flex-direction: column
  text-align: left
  & img
    width: 100%
  & p
    margin: 0

//The title of the projects
.title
  text-align: left
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  & h3
    color: rgba(217,118,61,0.20)
  & p
    width: 100%
@media only screen and (max-width: 1000px) 
  .title
    text-align: center

//Tools which I use  
.tools img
  margin-right: 3%



.projectText
  display: flex
  flex-direction: row
  justify-content: space-between
@media only screen and (max-width: 600px)
  .projectText
    flex-direction: column
    text-align: center
  .projectText p
    margin-bottom: 5%
    
    

.toolsP
  display: flex
  flex-direction: row
  justify-content: flex-end
  & img
    margin-left: 30%
@media only screen and (max-width: 600px)
  .toolsP img
    margin: 0
