body
  height: 100%
  display: flex



//////////////Header

.my_logo
  margin: 20px auto
  text-align: center
@media only screen and (max-width: 600px) 
  .my_logo svg
    width: 60%
    height: 60%


.text
  text-align: center
  align-self: center
@media only screen and (max-width: 600px) 
  .text h2
    width: 100%
    margin: 0 auto
 
.social
  width: 100%
  text-align: center
  margin: 5% auto 0
  display: flex
  justify-content: space-around
@media only screen and (max-width: 600px) 
  .social
    width: 90%
    margin-top: 6%

.social svg
  width: 25px
  height: auto
 
.overlay
    align-self: flex-end
    width: 100%
    height: 50%
    margin: 0 auto
    z-index: -999
    text-align: center
    
.overlay img
  width: 100%
  height: 100%
  
 
  
.overlay svg 
  width: 100%
  height: 100%
  


///////////Portfolio
 
.navigation
  position: relative
  width: 100%
  display: flex
  justify-content: center


  

.navigation ul 
  width: 60%
  margin: 4% auto
  display: flex
  flex-direction: row
  justify-content: space-around
@media only screen and (max-width: 600px) 
  .navigation ul 
    margin-top: 1%
    width: 100%
    flex-direction: column
    justify-content: center
    text-align: center
    margin-right: 12%

  .navigation ul li
    margin-top: 4%

    
  


.overlap
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 0 20px;
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  z-index: -999


  
.overlap h3
  color: rgba(50,76,91,0.1)
